@{
    ViewData["Title"] = "Angelline";
}
<h1>Datos Personales</h1>
<hr>
<p><strong>Nombre:</strong> Angelline Luna Rueda</p>
<br>
<p><strong>Edad:</strong> 25 años</p>
<br>
<p><strong>Carrera:</strong> IDyGS</p>
<br>
<p><strong>Grado y Grupo:</strong> 9A</p>
<hr>
<h1>Pasatiempos</h1>
<p>Bailar, salir a conocer nuevos lugares</p>