@{
    ViewData["Title"] = "Ulises";
}
<h1>Datos Personales</h1>
<hr>
<p><strong>Nombre:</strong> Ulises Emiliano Islas Escudero</p>
<br>
<p><strong>Edad:</strong> 21 años</p>
<br>
<p><strong>Carrera:</strong> IDyGS</p>
<br>
<p><strong>Grado y Grupo:</strong> 9A</p>
<hr>
<h1>Pasatiempos</h1>
<p>Jugar videojuegos, escuchar música, ver videso en youtube</p>